<ol class="breadcrumb">
    <li><a href="{{baseDir}}/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="{{baseDir}}/reports/">{{#translate}}Reports{{/translate}}</a></li>
    <li class="active">{{title}}</li>
</ol>

<i>{{error}}</i>
<pre>{{output}}</pre>
